{% extends 'base.html' %}
{% load Profile_check %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'Web/Sections/Header.html' %}
{% include 'Web/Sections/AdministrationVIP.html' %}
{% include 'Web/Sections/Hero.html' %}
{% include 'Web/Sections/Administration.html' %}
{% include 'Web/Sections/VideosYoutube.html' %}
{% include 'Web/Sections/LatestPreview.html' %}
{% include 'Web/Sections/Video.html' %}
{% include 'Web/Sections/Participants.html' %}
{% include 'Web/Sections/Posts.html' %}
{% include 'Web/Sections/Articles.html' %}


 {% endblock content%}