{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}منشور{% endblock %}
{% block css_body %}
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- prism css -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/prism-coy.css' %}">
    <!-- ekko-lightbox css -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/ekko-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/trumbowyg.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



{% endblock css_body %}
{% block content %}
    {% include 'Web/Sections/Header.html' %}

    <section class="details-post-section spad">
        <div class="container">



            <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">مسابقات المهرجان</h4>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <img class="p-4" src="{% static 'img/img_4.png' %}">
                    </div>
                    <div class="col-sm-6">
                        <img class="p-4" src="{% static 'img/img_3.png' %}">
                    </div>
                </div>


            </div>

<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">أهداف فعاليات المهرجان </h4>
                    <hr>
                   <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">إنجاز عمل سينمائي درامي بمقاييس فنية عالمية عن بوعد بزمن جائحة كورونا.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">عقد ورش تعليمية نظرية وتطبيقية للأعضاء المشاركين بالمهرجان للهواة من خارجه.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">تبادل الخبرات الفنية المتنوعة بين دول العالم.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">عقد الندوات والقاءات الصحفية المتنوعة عبر برنامج وتطبيقات إليكترونية مختلفة من أجل تفعيل أعمال المهرجان.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">خلق فرص إبداعية للشباب والمبتدئين لعرض مواهبهم وإيجاد فرص عمل.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

</div>


<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">مسابقة مهرجان العامة </h4>
                    <hr>
                   <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">*</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:bisque">ستكون المسابقة بين المشتركين المتدربين لإنتاج خمسة  ( 5 ) أفلام أونلاين

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">سيتم تجميع طاقم الافلام المشاركة عبر بثلاث مراحل

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">يتم جمع طاقم و فريق كل فيلم من خلال السباق من خلال متاهلين في مراحل السابقة.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">سيتم  توزيع سيناريست المتأهلين على جميع الأفلام.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">عقد الندوات والقاءات الصحفية المتنوعة عبر برنامج وتطبيقات إليكترونية مختلفة من أجل تفعيل أعمال المهرجان.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">سيتم توزيع المخرجين  و مساعديهم غيرهم من اختصاص فردي على جميع  الأفلام.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>



<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">يستثنى من ذألك طاقم التمثيل الذي ستقرر تأهيل عدد المطلوب حسب سيناريست  للأفلام  بعد تأهيل الممثلين يتم اختيار الفريق فيلم الكاتب و المخرج  عن طريق الموقع ألية تحددها موقع.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

</div>

<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">شروط المسابقة للمشتركين</h4>
                    <hr>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">أن يكون المشترك له حسن سيرة و سلوك.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ان يكون له صله بفن حتى اذا كانت ضعيفة (يتم تدريبه بقسم التدريب)
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">لا يسمح الى أي للمشترك دخول مسابقة أذا كان أداريا بمهرجان.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ان يكون مهتما بحضور فعاليات المهرجان و محاضرات التدريبية

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ان يكون مهتما بتفاعل و نشر و ترويج عن المهرجان
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>



<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ان يكون ملتزما بشروط الموقع العامة
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

</div>


<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">مراحل المسابقة</h4>
                    <hr>
 {% for st in stages %}
     {% if st.id != 1 %}
<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">{{ st.Stage }}
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>
     {% endif %}
    {% endfor %}


</div>

<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">أقسام المسابقة</h4>
                    <hr>
 {% for mov in movieSection %}
     {% if mov.id != 1 %}
<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">{{ mov.MovieSections }}
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>
     {% endif %}
    {% endfor %}


</div>

<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">المرحلة الاولى</h4>
                    <hr>
     <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">*</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:bisque">هي إنتاج المشتركين مقاطع او حسب اختصاص المشترك يتم عرضها على لجنه مختصين نشرها في قنوات المهرجان تحددها حسب نتائج التقيم بتاهيل 10 مشتركين من كل تخصص


</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">المخرجين   ( 10)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">سيناريست   ( 10)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">مونتاج   ( 10)

</span></span></span></div>
<p style="margin-left:12px; text-align:right">&nbsp;</p>
 <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ديكور   ( 10)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">موسيقى   ( 10)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">مكياج   ( 10)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ممثلين       ( حسب  متطلب سيناريست و المخرج  يحدد فئات المطلوبة )


</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>


</div>
        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة المرحلة الأولى</h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO1.jpeg' %}">
                    </div>

                </div>


            </div>


<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">المرحلة الثانية</h4>
                    <hr>
     <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">*</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:bisque">هي إنتاج المشتركين مقاطع او حسب اختصاص المشترك يتم عرضها على لجنه مختصين نشرها في قنوات المهرجان تحددها حسب نتائج التقيم بتاهيل 5 مشتركين من كل تخصص


</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">المخرجين   ( 5)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">سيناريست   ( 5)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">مونتاج   ( 5)

</span></span></span></div>
<p style="margin-left:12px; text-align:right">&nbsp;</p>
 <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ديكور   ( 5)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">موسيقى   ( 5)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">مكياج   ( 5)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ممثلين       ( حسب  متطلب سيناريست و المخرج  يحدد فئات المطلوبة )


</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>


</div>
        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة المرحلة الثانية</h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO2.jpeg' %}">
                    </div>

                </div>


            </div>

        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب المخرجين </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO3.jpeg' %}">
                    </div>

                </div>


            </div>
        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب سيناريست </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO4_1.jpeg' %}">
                    </div>

                </div>


            </div>
        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب مونتاج </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO4.jpeg' %}">
                    </div>

                </div>


            </div>
        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب ديكور </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO5.jpeg' %}">
                    </div>

                </div>


            </div>
          <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب موسيقى </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO6.jpeg' %}">
                    </div>

                </div>


            </div>

        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب مكياج </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO7.jpeg' %}">
                    </div>

                </div>


            </div>
        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب ممثلين </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO8.jpeg' %}">
                    </div>

                </div>


            </div>

        <div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب مرحلة الافلام </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO9.jpeg' %}">
                    </div>

                </div>


            </div>

<div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">نتائج الفائزين بمسابقة المهرجان</h4>
                    <hr>
     <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">*</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:bisque">سيتم حساب هذه نتائج بنسبة و تناسب في جميع المراحل المسابقة ويتم إعلانها في حفل ختام المهرجان


</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل  مخرج

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل سيناريست

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل مونتاج

</span></span></span></div>
<p style="margin-left:12px; text-align:right">&nbsp;</p>
 <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل ديكور

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل موسيقى

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل مكياج

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل ممثل دور اول

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل ممثل دور ثاني

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل ممثلة دور اول

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل ممثلة دور ثاني

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل ممثل (طفل)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل ممثلة (طفلة)

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل فيلم  فضي

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">فائز أفضل فيلم  ذهبي

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>



</div>


        </div>





    </section>





{% endblock %}

{% block script_body %}
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/ripple.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/menu-setting.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/prism.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ekko-lightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/lightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/ac-lightbox.js' %}"></script>

    <script src="{% static 'assets/js/plugins/trumbowyg.min.js' %}"></script>



    <script src="{% static 'assets/js/ajax.js' %}"></script>


{% endblock script_body %}