{% load static %}

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">



                    <div class="footer-about">

                      <!--div class="ec-item">
                            <div class="fa-logo">
                            <a href="#"><img src="{% static 'img/logCinena.jpeg' %}" alt="" style="height: 250px"></a>
                        </div-->

                        <div class="fa-social">
                            <a href="{{ cin.Snapchat }}"><i class="fa fa-snapchat"></i></a>
                            <a href="{{ cin.YouTube }}"><i class="fa fa-youtube-play"></i></a>
                            <a href="{{ cin.Instagram }}"><i class="fa fa-instagram"></i></a>
                            <a href="{{ cin.Twitter }}"><i class="fa fa-twitter"></i></a>
                            <a href="{{ cin.Facebook }}"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>

                </div>

            </div>
            <div class="copyright-area">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="ca-links">
                            <a href="#">الادارة</a>
                            <a href="{% url 'CompetitionsWeb' %}">برنامج المسابقات</a>
                            <a href="#" style="margin: 10px">أتصل بنا</a>
                            <a href="{% url 'WhoAreWeWeb' %}">من نحن</a>
                        </div>
                    </div>
                      <div class="col-lg-6 text-right" >
                        <div class="ca-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
   جميع الحقوق محفوظة &copy;<script>document.write(new Date().getFullYear());</script>
 <i class="fa fa-heart" aria-hidden="true"></i> الى <a href="https://colorlib.com" target="_blank"></a>رينا جريد
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->