{% load static %}

<div class="col-md-6">
    <div class="vg-item large-vg set-bg" data-setbg="{{ yuo.image.url }}">
        <a href="https://www.google.com/https://www.youtube.com/watch?v={{yuo.linke}}"
           class="play-btn video-popup"><i class="fa fa-play"></i></a>
        <div class="vg-text">
            <h5>{{ yuo.title }}</h5>
            <ul>
                <li><i class="fa fa-clock-o"></i> {{ yuo.created }}</li>
                <li><i class="fa fa-comment-o"></i>{{ yuo.author.FullName }}</li>
            </ul>
        </div>
    </div>
</div>