{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}منشور{% endblock %}
{% block css_body %}
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- prism css -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/prism-coy.css' %}">
    <!-- ekko-lightbox css -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/ekko-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/trumbowyg.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



{% endblock css_body %}
{% block content %}
    {% include 'Web/Sections/Header.html' %}

    <section class="details-post-section spad">
        <div class="container">
            <div class="row p-4">
                <div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">تمهيد و مقدمة المهرجان</h4>
                    <hr>
                   <p style="text-align:center"><span style="color:#ffffff"><span style="font-size:18.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="background-color:#000000">يطلق المخرج العالمي الدكتور &quot;قاسم القضاة&quot;، مهرجان أفلام &quot;أونلاين&quot; تحت شعار &quot;بالفن ننتصر علي&nbsp;&nbsp;&nbsp; كورونا&quot;.</span><br />
<span style="background-color:#000000">&nbsp;</span><br />
<span style="background-color:#000000">ونظراً لما تمر به بلاد العالم اليوم من تفشي فيروس كورونا &quot;كوفيد19&quot; وما ترتب عليه من أضرار وآثار سلبية سواء بالنواحي (الإنسانية، والاقتصادية، والاجتماعية، والنفسية والسياسية...) ومن الإحساس بالعجز والاستسلام وقلة الحيلة لسكان العالم.</span><br />
<span style="background-color:#000000">&nbsp;</span><br />
<span style="background-color:#000000">ابتكر الدكتور &laquo; قاسم القضاة&quot; فكرة المهرجان الدولي فيلم &quot;أونلاين&quot; ليثبت للعالم أن الفن والإبداع الإنساني استطاع أن يتغلب علي الجائحة وانتصر علي كورونا بأبسط المتاح.</span><br />
<span style="background-color:#000000">فإرادة الحياة فوق كل شيء.</span><br />
<br />
<span style="background-color:#000000">الفن هو الحياة. # بأفن ننتصر على كورونا</span></span></span></span><span style="color:#ffffff"><span style="font-size:18.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="background-color:#ffffff"> </span></span></span></span></p>

                </div>


</div>



               <div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">أهداف المهرجان </h4>
                    <hr>
                   <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">إيصال رسالة هادفة لشعوب العالم عبر الفن والسينما.</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">تعزيز التبادل الفني بين الأعضاء المشاركين بدول العالم.</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white"> بث روح الأمل والطاقة الإيجابية بنفوس المشاركين.</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">الاعتماد علي الإنترنت وتسخيره بمجال الفن.</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">تفعيل وابتكار عمل فني معاصر يتواكب مع الظروف الاستثنائية التي&nbsp; نعيشها اليوم.</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt" ><span style="font-family:&quot;Arial Narrow&quot; " ><span style="color:white">بث ثقافة روح التعاون والفريق الواحد</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>


                </div>


   <div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">نبذه تعريفية عن المهرجان </h4>
                    <hr>
                   <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">هو مهرجان ريادي إبداعي عالمي، بداء بمشاركة 26 دولة في نسخته الأولى، ووصل حتي الان إلي أكثر من 50 دولة حول العالم.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">تمكين، تدريب، وصقل المواهب تعليم كيف تصبح ممثلا؟ كيف تصبح سيناريست؟ كيف تصبح مخرجا؟ كيف تصبح مونتير؟ كيف تصبح مصورا؟ وكيف تتمكن من صناعة الفيلم السينمائي ب (فيلم أونلاين).
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">عمل ورش فنية متخصصة تقدم من قبل متخصصين أكاديميين بالمجال ونجوم ومشاهير متخصصين في فن صانعة السينما.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">كل ما يخص المهرجان يتم عن طريق الموقع الخاص بمهرجان بحسب كل مستخدم بصلاحيات الموكلة له من (أداري , مشتركين ,لجان تحكيم ....الخ)
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">ويتم عمل هذه الورش عبر منصة زوم حيث يلتقي المتدربون من جميع أنحاء العالم وبيداء تدريبهم وتأهيلهم بكيفية صناعة الفيلم السينمائي باستخدام (الإنترنت) وبهذا نكسر حاجز المكان والزمان بين المشاركين وفريق العمل.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt" ><span style="font-family:&quot;Arial Narrow&quot; " ><span style="color:white">يتنافس بالمهرجان لعام 2021 عدد من الفرق العالمية.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt" ><span style="font-family:&quot;Arial Narrow&quot; " ><span style="color:white">يقام المهرجان خلال فترات وتواريخ زمنية تحدد من قبل اللجان المختصة.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt" ><span style="font-family:&quot;Arial Narrow&quot; " ><span style="color:white">يعرض علي هامش المهرجان أفلام عالمية يستضيفها المهرجان كضيوف شرف.

</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt" ><span style="font-family:&quot;Arial Narrow&quot; " ><span style="color:white">تشرف لجنة الحكام (مكونة من أسماء مرموقة ومشهورة عالميا.. فنانين، مخرجين، سيناريست، تقنيين) علي التحكيم واختيار الفائزين.


</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>


<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt" ><span style="font-family:&quot;Arial Narrow&quot; " ><span style="color:white">يكرم المهرجان جميع المشاركين بجوائز داعمة.
</span></span></span></div>
<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt" ><span style="font-family:&quot;Arial Narrow&quot; " ><span style="color:white">يكرم المهرجان كل من  شارك  و داعم  بنجاح المهرجان

</span></span></span></div>
<p style="margin-left:12px; text-align:right">&nbsp;</p>


                </div>


               <div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">فعاليات المهرجان</h4>
                    <hr>
                   <div class="row">
                   <div class="col-sm-6">
                       <img class="p-4" src="{% static 'img/img_2.png' %}">
                   </div>
                   <div class="col-sm-6">
                       <img class="p-4" src="{% static 'img/img_1.png' %}">
                   </div>
                       </div>


                </div>

 <div class="col-sm-12 text-white text-center border border-danger m-3">
                    <h4 class="border-bottom p-4" style="color: red">أهداف فعاليات المهرجان </h4>
                    <hr>
                   <div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">إنجاز عمل سينمائي درامي بمقاييس فنية عالمية عن بوعد بزمن جائحة كورونا.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">عقد ورش تعليمية نظرية وتطبيقية للأعضاء المشاركين بالمهرجان للهواة من خارجه.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">تبادل الخبرات الفنية المتنوعة بين دول العالم.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">عقد الندوات والقاءات الصحفية المتنوعة عبر برنامج وتطبيقات إليكترونية مختلفة من أجل تفعيل أعمال المهرجان.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

<div class="O0" style="margin-right:48px; margin-top:5px; text-align:right; text-indent:-.38in"><span style="font-size:14.0pt"><span style="font-size:129%"><span style="color:#dc9e1f"><span style="color: red;margin-left: 10px">❑</span></span></span></span><span style="font-size:14.0pt"><span style="font-family:&quot;Arial Narrow&quot;"><span style="color:white">خلق فرص إبداعية للشباب والمبتدئين لعرض مواهبهم وإيجاد فرص عمل.
</span></span></span></div>

<p style="margin-left:12px; text-align:right">&nbsp;</p>

</div>

<div class="col-sm-12 text-white text-center border border-danger m-3">
                <h4 class="border-bottom p-4" style="color: red">هيكلة تركيب مرحلة الافلام </h4>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <img class="p-4" src="{% static 'img/CO10.jpeg' %}">
                    </div>

                </div>
            </div>

</div>



    </section>





{% endblock %}

{% block script_body %}
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/ripple.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/menu-setting.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/prism.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ekko-lightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/lightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/ac-lightbox.js' %}"></script>

    <script src="{% static 'assets/js/plugins/trumbowyg.min.js' %}"></script>



    <script src="{% static 'assets/js/ajax.js' %}"></script>


{% endblock script_body %}