{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}فيديوهات المهرجان{% endblock %}
 {% block css_body %}
   <link rel="icon" href="{%static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- prism css -->
    <link rel="stylesheet" href="{%static 'assets/css/plugins/prism-coy.css'%}">
    <!-- ekko-lightbox css -->
    <link rel="stylesheet" href="{%static 'assets/css/plugins/ekko-lightbox.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/plugins/lightbox.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/plugins/trumbowyg.min.css'%}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
     <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">



 {% endblock css_body %}
{% block content %}
{% include 'Web/Sections/HeaderProfile.html' %}


    <section class="video-guide-section">


     <div class="container">
      <div class="section-title text-center " style="background: black;color: red;height: 30px; ">
                        <h5 style="background: black;color: red;height: 30px; ">فيديوهات</h5>
              </div>
      <div class="text-center pb-4">


                 <a href="{% url 'upload_processingWeb' MyPro.slug %}"
                       class="btn btn-outline-danger  text-center" style="color:white">أضافة فيديو</a>
          <a href="{% url 'AddYouTubeWeb' MyPro.slug %}"
                       class="btn btn-outline-info  text-center" style="color:white">أضافة رابط يوتيوب</a>



                </div>

            <div class="row">



                  <!-- profile body start -->
    <div class="col-sm-12 ">
        <div class="card bg-dark text-c-red">
            <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link text-reset active" id="home-tab" data-toggle="tab"
                       href="#home" role="tab" aria-controls="home" aria-selected="true"><i
                            class="feather icon-home mr-2"></i>فيديوهات </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-reset" id="profile-tab" data-toggle="tab"
                       href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i
                            class="feather icon-user mr-2"></i>فيديوهات اليوتيوب</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-reset" id="Video-tab" data-toggle="tab"
                       href="#Video" role="tab" aria-controls="Video" aria-selected="false"><i
                            class="feather icon-user mr-2"></i>فيديوهات المراحل</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-reset" id="contact-tab" data-toggle="tab"
                       href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i
                            class="feather icon-phone mr-2"></i>فديوهات الافلام</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



                <div CLASS="container">
                    <div class="row">


                        {% include 'Web/WebProfile/VideoWeb_1.html' %}

                    </div>
                </div>


            </div>

            <!-------------------------profile-tab--------------------------->

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
             <div CLASS="container">
                    <div class="row">

                        {% include 'Web/WebProfile/VideoYut.html' %}


                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Video" role="tabpanel" aria-labelledby="Video-tab">
             <div CLASS="container">
                    <div class="row">


                       {% if videos.Stages.id != 1 %}
                        {% include 'Web/WebProfile/VideoWeb_1.html' %}
                        {% endif %}


                    </div>
                </div>
            </div>



        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">



                         <div CLASS="container">
                    <div class="row">


                        {% if videos.Stages.id == 4 %}
                        {% include 'Web/WebProfile/VideoWeb_1.html' %}
                        {% endif %}

                    </div>
                </div>

                </div>
            </div>
        </div>

    </div>

    </div>


    </section>





{% endblock %}

{% block script_body %}
<script src="{%static 'assets/js/vendor-all.min.js'%}"></script>
<script src="{%static 'assets/js/plugins/bootstrap.min.js'%}"></script>
<script src="{%static 'assets/js/ripple.js'%}"></script>
<script src="{%static 'assets/js/pcoded.min.js'%}"></script>
<script src="{%static 'assets/js/menu-setting.min.js'%}"></script>
<script src="{%static 'assets/js/plugins/prism.js'%}"></script>
<script src="{%static 'assets/js/plugins/ekko-lightbox.min.js'%}"></script>
<script src="{%static 'assets/js/plugins/lightbox.min.js'%}"></script>
<script src="{%static 'assets/js/pages/ac-lightbox.js'%}"></script>
   <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{%static 'assets/js/plugins/trumbowyg.min.js'%}"></script>



    <script src="{% static 'assets/js/ajax.js' %}"></script>


{% endblock script_body %}




