{% extends 'AdminProfile/CinamaMedia/MuneYouTube.html' %}
{% load static %}
{% load i18n %}

{% block YouTube %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">

                            <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group text-center">
                <legend class="border-bottom mb-4">Delete YouTube</legend>
                <h4>are you sure you want to delete the YouTube </h4><br>
                <h4>{{youTube.title}}</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a href="{% url 'YouTubeProfile'  %}" class="btn btn-outline-info">Cancel</a>
            </div>
        </form>
    </div>
                        </div>
                    </div>
                </div>
            </div>




{% endblock %}



