{% extends 'AdminProfile/MyPosts/MunePosts.html' %}
{% load static %}
{% load i18n %}


{% block post %}


    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="row">
                        {% for post in posts %}
                            <div class="col-md-6 order-md-2 p-4" style="background: black">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                         aria-labelledby="home-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="post_options"><a href="{% url 'post_details' post.id %}">
                                                    <svg class="bi bi-three-dots" width="1em" height="1em"
                                                         viewBox="0 0 16 16" fill="currentColor"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M3 9.5a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
                                                              clip-rule="evenodd"/>


                                                    </svg>
                                                </a></div>
                                                <h5 class="font-weight-normal"><a href="#!"
                                                                                  class="text-h-primary text-reset"><b
                                                        class="font-weight-bolder"
                                                        style="color: red">{{ post.author.username }}</b></a>
                                                    posted on your timeline</h5>
                                                <p class="mb-0 text-muted">{{ post.created_date }}</p>
                                                <div class="card-header-right">
                                                    <div class="btn-group card-option">
                                                        <button type="button" class="btn dropdown-toggle"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                            <i class="feather icon-more-horizontal"></i>
                                                        </button>


                                                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                            <li class="dropdown-item full-card"><a
                                                                    href="#!"><span><i
                                                                    class="feather icon-maximize"></i> maximize</span><span
                                                                    style="display:none"><i
                                                                    class="feather icon-minimize" ></i> Restore</span></a>
                                                            </li>
                                                            <li class="dropdown-item minimize-card"><a
                                                                    href="#!"><span><i
                                                                    class="feather icon-minus"></i> collapse</span><span
                                                                    style="display:none"><i
                                                                    class="feather icon-plus"></i> expand</span></a>
                                                            </li>
                                                            <li class="dropdown-item reload-card"><a href="#!"><i
                                                                    class="feather icon-refresh-cw"></i> reload</a>
                                                            </li>
                                                            <li class="dropdown-item close-card"><a href="#!"><i
                                                                    class="feather icon-trash"></i> remove</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if post.image %}


                                                <a href="{% url 'post_details' post.id %}"> <img
                                                        src="{{ post.image.url }}" alt=""
                                                        style="width: 100%;height:300px"
                                                        class="img-fluid"></a>
                                            {% endif %}

                                            {% if post.video %}
                                                <a href="{% url 'post_details' post.id %}">
                                                    <video src="{{ post.video.url }}" controls height="100%"
                                                           width="100%" ></video>
                                                </a>
                                            {% endif %}

                                            <div class="card-body">
                                                <a href="#!" class="text-h-primary">
                                                    <h6>{{ post.profile.FullName }}</h6>
                                                </a>
                                                <p class="text-muted mb-0">{{ post.caption }}</p>
                                            </div>
                                            <div class="card-body border-top border-bottom">
                                                <ul class="list-inline m-0">
                                                    <form action="{% url 'like_post' %}" method="POST" class="ui form">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                                        {% if user not in post.liked.all %}
                                                            <li class="list-inline-item">
                                                                <button
                                                                        class="text-danger text-h-danger"><i
                                                                        class="feather icon-heart-on mr-2"
                                                                        style="color: green"></i>{{ post.liked.all.count }}
                                                                </button>
                                                            </li>
                                                        {% else %}
                                                            <li class="list-inline-item">
                                                                <button
                                                                        class="text-danger text-h-danger"><i
                                                                        class="feather icon-heart-on mr-2"></i>{{ post.liked.all.count }}
                                                                </button>
                                                            </li>

                                                        {% endif %}
                                                        <li class="list-inline-item"><a href="#!"
                                                                                        class="text-muted text-h-primary"><i
                                                                class="feather icon-share-2 mr-2"></i>Share</a></li>
                                                    </form>

                                                </ul>
                                                <form id="favoriteform" action="{% url 'favourite' %}" method="POST"
                                                      class="ui form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                                    {% if user not in post.favourite.all %}


                                                        <div class="engagement text-right">

                                                            <button class="btn-success" style="background-color: red; color: black">


                                                            <a href="javascript:void()" onclick="document.getElementById('favoriteform').submit();">
                                                            <i class="feather icon-file" style=" color: black"></i>
                                                        </a></button></div>



                                                        <!-- <button class="btn btn-success btn-sm">Save</button> -->
                                                    {% else %}
                                                      <div class="engagement text-right">

                                                            <button class="btn-success" style="background-color: green; color: black">


                                                             <a href="javascript:void()" onclick="document.getElementById('favoriteform').submit();">
                                                                 <i class="feather icon-file" style=" color: black"></i>


                                                             </a></button></div>
                                                        <!-- <button class="btn btn-danger btn-sm">Saved</button> -->
                                                    {% endif %}


                                                </form>

                                            </div>

                                            <div class="card-body">
                                                <div class="row justify-content-between mb-4">
                                                    <div class="col-auto"><a href="#!"
                                                                             class="text-muted text-h-primary">Comment
                                                        (<i
                                                                class="feather icon-message-square mr-2"></i>{{ post.number_of_comments }})</a>
                                                    </div>
                                                    <div class="col-auto"><a href="#!"
                                                                             class="text-muted text-h-primary">See
                                                        All</a></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

