{% extends 'AdminProfile/MyPosts/MunePosts.html' %}
{% load static %}
{% load i18n %}


{% block post %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">

                            <form action="." method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-group row p-4">
                                    <label class="col-sm-3 col-form-label font-weight-bolder">{% trans 'video File ' %}</label>
                                    <div class="col-sm-9">
                                        {{ form.video }}
                                    </div>
                                </div>

                                <div class="form-group row p-4">
                                    <label class="col-sm-3 col-form-label font-weight-bolder">{% trans 'Image Video ' %}</label>
                                    <div class="col-sm-9">
                                        {{ form.imageVideo }}
                                    </div>
                                </div>



                                <div class="form-group row p-4">
                                    <label class="col-sm-3 col-form-label font-weight-bolder">{% trans 'description' %}</label>
                                    <div class="col-sm-9">
                                        {{ form.caption }}

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




{% endblock %}



